@using MotelRoomOnline.Utilities
@model MotelRoomOnline.Models.Contract
@{
    ViewData["Title"] = "Thêm mới";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4>Thêm mới hợp đồng thuê trọ</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Quản lý hợp đồng</li>
                        <li class="breadcrumb-item active">Thêm mới hợp đồng</li>
                    </ol>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Functions.message))
            {
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="icon fas fa-exclamation-triangle"></i>@Functions.message
                </div>
            }
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <form method="post" id="quickForm" asp-action="Create">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="RoomId">Phòng thuê</label>
                                            <select asp-for="RoomId" class="form-control select2bs4" asp-items="@(new SelectList(ViewBag.Rooms,"Value","Text"))"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CustomerId">Khách hàng</label>
                                            <select asp-for="CustomerId" class="form-control select2bs4" asp-items="@(new SelectList(ViewBag.Customers,"Value","Text"))"></select>
                                        </div>
                                    </div>
                                </div>                           
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="CreatedDate">Ngày tạo</label>
                                            <input type="text" asp-for="CreatedDate" class="form-control" value="@Functions.getCurrenDate()" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="PriceRoom">Giá phòng</label>
                                            <input type="number" asp-for="PriceRoom" class="form-control" id="PriceRoom" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="DepositAmount">Tiền cọc</label>
                                            <input type="number" asp-for="DepositAmount" class="form-control" placeholder="Nhập số tiền cọc">
                                        </div>
                                    </div>
                                </div> 
                                <input type="hidden" asp-for="Status" class="form-control" value="1">
                                <div id="info-rooms"></div>
                                <div id="info-customers"></div>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Contract" asp-action="Index" class="btn btn-warning"><i class="fa-solid fa-rotate-left" style="color:white" title="Quay lại"></i></a>
                                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk" title="Lưu"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/admin/assets/plugins/jquery/jquery.min.js"></script>

@section Scripts{
    <script src="~/admin/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/admin/assets/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/admin/assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/admin/assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>

    <script>
        $(function () {
            $('#quickForm').validate({
                rules: {
                    DepositAmount: {
                        required: true,
                        min: 100,
                    }
                },
                messages: {
                    DepositAmount: {
                        required: "Tiền cọc không được để trống",
                        min: "Tiền cọc phải lớn hơn {0}",
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });

            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });
    </script>

    <script>
        $(document).ready(function () {
            $('#RoomId').change(function () {
                var roomId = $(this).val();
                if (roomId === "0") {
                    $('#info-rooms').empty();
                    $('#PriceRoom').val('');
                }
                $.ajax({
                    url: "/Landlord/Contract/GetRoomById",
                    type: 'GET',
                    data: { id: roomId },
                    success: function (data) {
                        $('#PriceRoom').val(data.priceRoom);
                        var roomInfoHtml = `
                                    <h4 class="text-info mt-4">Thông tin phòng</h4>
                                    <table class="table table-bordered table-hover" id="room-info">
                                        <thead>
                                            <tr>
                                                <th style="width:150px">Hình ảnh</th>
                                                <th style="width:400px">Tên trọ</th>
                                                <th style="width:300px">Địa chỉ</th>
                                                <th style="width:100px">Diện tích</th>
                                                <th style="width:100px">Ở tối đa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><img src="${data.image}" style="width:80px; height:80px" /></td>
                                                <td>${data.roomName}</td>
                                                <td>${data.address}</td>
                                                <td>${data.acreage} m<sup>2</sup></td>
                                                <td>${data.maxPeople} người</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                `;
                        $('#info-rooms').html(roomInfoHtml);
                    }
                });
            });

            $('#CustomerId').change(function () {
                var customerId = $(this).val();
                if (customerId === "0") {
                    $('#info-customers').empty();
                }
                $.ajax({
                    url: "/Landlord/Contract/GetCustomerById",
                    type: 'GET',
                    data: { id: customerId },
                    success: function (data) {
                        var customerInfoHtml = `
                                    <h4 class="text-info mt-4">Thông tin khách hàng</h4>
                                    <table class="table table-bordered table-hover" id="customer-info">
                                        <thead>
                                            <tr>
                                                <th style="width:150px">Hình ảnh</th>
                                                <th style="width:400px">Họ tên</th>
                                                <th style="width:300px">CCCD</th>
                                                <th style="width:100px">Ngày sinh</th>
                                                <th style="width:100px">SĐT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><img src="${data.avatar}" style="width:80px; height:80px" /></td>
                                                <td>${data.fullName}</td>
                                                <td>${data.code}</td>
                                                <td>${data.dob}</td>
                                                <td>${data.phone}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                `;
                        $('#info-customers').html(customerInfoHtml);
                    }
                });
            });
        });
    </script>
}
