
<div class="footer-area">
    <div class=" footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Về chúng tôi</h4>
                        <div class="footer-title-line"></div>
                        <a href="/Home"><h3 style="color:#FDC600">MotelRoom</h3></a>
                        <p>Website tìm kiếm và quản lý phòng trọ lớn nhất Nghệ An</p>
                        <ul class="footer-adress">
                            <li><i class="pe-7s-map-marker strong"> </i> Nghi Xuân - Nghi Lộc - Nghệ An</li>
                            <li><i class="pe-7s-mail strong"> </i> vanhoa12092003@gmail.com</li>
                            <li><i class="pe-7s-call strong"> </i> 0349191354</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Trang liên kết</h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li><a href="/Home">Trang chủ</a></li>
                            <li><a href="#">Phòng trọ</a></li>
                            <li><a href="#">Bài viết</a></li>
                            <li><a href="/Contact">Liên hệ</a></li>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Câu hỏi </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    @await Component.InvokeAsync("FooterView")
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>Liên hệ</h4>
                        <div class="footer-title-line"></div>
                        <p>Nhập Email để nhận thông báo mới nhất về website tìm kiếm trọ </p>

                        <form>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Nhập Email ... ">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                </span>
                            </div>
                        </form>

                        <div class="social pull-right">
                            <ul>
                                <li><a class="wow fadeInUp animated" href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://www.facebook.com" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://plus.google.com" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
