@using MotelRoomOnline.Utilities
@using MotelRoomOnline.Models.ViewModels
@model RoomListViewModel

@{
    ViewData["Title"] = "Phòng trọ";
    List<RoomCategories> RCate = ViewBag.RCategory;
    List<Ward> wards = ViewBag.Ward;
}

<style>
    .text-view {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="properties-area recent-property" style="background-color: #FFF;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 p0 padding-top-40">
                <div class="blog-asside-right pr0">
                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tìm kiếm trọ</h3>
                        </div>
                        <div class="panel-body search-widget">
                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input id="searchKey" type="text" class="form-control" placeholder="Nhập thông tin...">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" onchange="loadRooms(1)">
                                            <option value="0">Chọn khu vực</option>
                                            @foreach(var items in wards)
                                            {
                                                <option value="@items.WardId">@items.WardName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <select id="Rcategories" class="selectpicker" data-live-search="true" data-live-search-style="begins" onchange="loadRooms(1)">
                                            <option value="0">Chọn phân loại</option>
                                            @foreach (var items in RCate)
                                            {
                                                <option value="@items.RoomCategoryId">@items.RoomCategoryName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input id="minPrice" type="number" class="form-control" placeholder="Nhập giá trọ tối thiểu...">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input id="maxPrice" type="number" class="form-control" placeholder="Nhập giá trọ tối đa...">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input id="minAcreage" type="number" class="form-control" placeholder="Nhập diện tích tối thiểu...">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input id="maxAcreage" type="number" class="form-control" placeholder="Nhập diện tích tối đa...">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    @await Component.InvokeAsync("RoomNew")
                </div>
            </div>

            <div class="col-md-9 pr0 padding-top-40 properties-page" style="margin-top:65px">
                <div class="col-md-12 clear">
                    <div id="list-type" class="proerty-th"></div>
                </div>

                <div class="col-md-12">
                    <div class="pull-right">
                        <div class="pagination">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            loadRooms(1);

            $('#searchKey').on('input change', function () {
                loadRooms(1);
            });

            $('#minPrice').on('input change', function () {
                loadRooms(1);
            });

            $('#maxPrice').on('input change', function () {
                loadRooms(1);
            });

            $('#minAcreage').on('input change', function () {
                loadRooms(1);
            });

            $('#maxAcreage').on('input change', function () {
                loadRooms(1);
            });
        });

        function loadRooms(page) {
            var searchKey = $('#searchKey').val();
            var selectedCategoryId = $('#Rcategories').val();
            var selectedWardId = $('#lunchBegins').val();
            var minPrice = $('#minPrice').val();
            var maxPrice = $('#maxPrice').val();
            var minAcreage = $('#minAcreage').val();
            var maxAcreage = $('#maxAcreage').val();
            $.ajax({
                url: '/MotelRoom/GetData?page=' + page,
                type: 'GET',
                data: {
                    categoryId: selectedCategoryId || 0,
                    wardId: selectedWardId || 0,
                    searchKey: searchKey,
                    minPrice: minPrice || 0,
                    maxPrice: maxPrice || 0,
                    minAcreage: minAcreage || 0,
                    maxAcreage: maxAcreage || 0
                },
                success: function (response) {
                    var roomListHtml = '';

                    if (response.data.rooms.length == 0) {
                        roomListHtml = `
                                <div class="no-results" style="text-align: center; margin-top: 60px">
                                    <img src="/web/assets/img/search_found.png" style="width: 600px; height: 400px;" />
                                    <p>Không tìm thấy phòng trọ phù hợp!</p>
                                </div>`;
                    } else {
                        $.each(response.data.rooms, function (index, item) {
                            var sUrl = '/phong-tro/' + item.alias + '-' + item.roomId + '.html';
                            roomListHtml += `
                                    <div class="col-sm-6 col-md-4 p0">
                                        <div class="box-two proerty-item">
                                            <div class="item-thumb">
                                                <a href="${sUrl}"><img src="${item.image}" style="height:100px"></a>
                                            </div>
                                            <div class="item-entry overflow">
                                                <h6 class="text-view"><a href="${sUrl}">${item.roomName}</a></h6>
                                                <div class="dot-hr"></div>
                                                <span class="pull-left">
                                                    <b><i class="bi bi-arrows-move" style="font-size: 20px; color: #FDC600"></i> ${item.acreage} m<sup>2</sup></b>
                                                </span>
                                                <span class="proerty-price pull-right">
                                                    <i class="bi bi-currency-dollar"></i> ${item.priceRoom}<sup>đ</sup>
                                                </span>
                                                <div class="property-icon">
                                                    <span class="pull-left">
                                                        <i class="bi bi-eye" style="font-size: 20px; color: #FDC600"></i><b>${'('+item.viewCount+')'}</b>
                                                    </span>
                                                    <span class="pull-right">
                                                        <i class="bi bi-people" style="font-size: 20px; color: #FDC600"></i><b>${'('+item.maxPeople+')'}</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                        });
                    }

                    $('#list-type').html(roomListHtml);
                    updatePagination(response.data.pagingInfo);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function updatePagination(pagingInfo) {
            var paginationHtml = '';

            if (pagingInfo.hasPreviousPage) {
                paginationHtml += `<li><a href="#" onclick="handleLoadRooms(${pagingInfo.currentPage - 1}, event)">Trước</a></li>`;
            }

            for (var i = 1; i <= pagingInfo.totalPages; i++) {
                paginationHtml += `<li class="${i === pagingInfo.currentPage ? 'active' : ''}">
                                        <a href="#" onclick="handleLoadRooms(${i}, event)">${i}</a></li>`;
            }

            if (pagingInfo.hasNextPage) {
                paginationHtml += `<li><a href="#" onclick="handleLoadRooms(${pagingInfo.currentPage + 1}, event)">Sau</a></li>`;
            }

            $('.pagination ul').html(paginationHtml);
        }

        function handleLoadRooms(page, event) {
            event.preventDefault();
            loadRooms(page);
        }
    </script>


}